---
---
@import "minima";

.site-header {
	background-color: #424242;
	color: white;
}

.site-nav {
	.page-link {
		color: white;
	}

	@include media-query($on-palm) {
		.page-link {
			color: $text-color;
		}
	}
}

.site-logo {
	height: $base-line-height * $base-font-size * 2.25;
	float: left;
}

.site-logo>img {
	height: $base-font-size * 2;
	margin-top: ($base-line-height * $base-font-size * 1.125) - $base-font-size;
}

.home-page-site-logo {
	height: $base-line-height * $base-font-size * 10;
	float: center;
}

.home-page.site-nav {
	float: none;
	display: flex;
	justify-content: center;
	font-size: $base-font-size * 1.5;
}
